<div class="container py-5">
  <h1 class="text-center"><%= @student.first_name %> <%= @student.last_name %></h1>
  <h4 class="text-center"><i class="fa-solid fa-phone fa-xs" style="color: #ffdd00;"></i> <%= @student.phone_number %> | <i class="fa-solid fa-envelope fa-xs" style="color: #ffdd00;"></i> <%= @student.email %></h4>
  <p class="text-center"><strong><%= @student.gender %></strong> | <strong>Age:</strong> <%= @age %> years | <strong>DOB:</strong> <%= @student.date_of_birth.strftime("%d/%m/%Y") %></p>
  <div class="text-center">
    <%= link_to "Edit student details", edit_student_path(@student) %> |
    <%= link_to "Delete student",
      host_path(@student),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
    %>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <!-- First Half with Shaded Background -->
    <div class="col-lg-6 bg-darkgrey p-5 text-center text-white">
      <h2 class="pb-3">Emergency Contact:</h2>
      <p><strong>Name:</strong> <%= @student.emergency_contact_name %></p>
      <p><strong>Relationship:</strong> <%= @student.emergency_contact_relationship %></p>
      <p><strong>Email address:</strong> <%= @student.emergency_contact_email %></p>
      <p><strong>Phone:</strong> <%= @student.emergency_contact_phone %></p>
    </div>

    <!-- Second Half -->
    <div class="col-lg-6 bg-lightgrey p-5 text-center">
      <h2 class="pb-3">Personal Details:</h2>
      <p><strong>Address:</strong> <%= @student.home_address %></p>
      <p><strong>Occupation:</strong> <%= @student.occupation %></p>
      <p><strong>School:</strong> <%= @student.school_in_japan %></p>
      <p><strong>Line account:</strong> <%= @student.line_account %></p>
    </div>
  </div>
</div>
<div class="container py-5">
  <h2 class="text-center pb-3">Trip Details:</h2>
  <p class="text-center"><strong>Hobbies:</strong> <%= @student.hobbies %>
  <div class="row">
    <!-- First Half with Shaded Background -->
    <div class="col-lg-6 text-center">
      <p class="text-center"><strong>School/Program in Hawaii:</strong> <%= @student.program_in_hawaii %>
      <p class="text-center"><strong>Arrival date in Hawaii:</strong> <%= @student.arrival_in_hawaii %>
      <p class="text-center"><strong>Arrival flight number:</strong> <%= @student.arriving_flight_number %>
      <p class="text-center"><strong>Departure date from Hawaii:</strong> <%= @student.departure_from_hawaii %>
      <p class="text-center"><strong>Departure flight number:</strong> <%= @student.returning_flight_number %>
    </div>

    <!-- Second Half -->
    <div class="col-lg-6 text-center">
      <p class="text-center"><strong>Allergies:</strong> <%= @student.allergies ? 'Yes' : 'No' %>
      <p class="text-center"><strong>Allergy details:</strong> <%= @student.allergies_details.blank? ? '-' : @student.allergies_details %>
      <p class="text-center"><strong>Smoker:</strong> <%= @student.smoker ? 'Yes' : 'No' %>
      <p class="text-center"><strong>OK with other children in house:</strong> <%= @student.host_family_preferences_kids ? 'Yes' : 'No' %>
      <p class="text-center"><strong>OK with pets in house:</strong> <%= @student.host_family_preferences_pets ? 'Yes' : 'No' %>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <!-- First Half with Shaded Background -->
    <% if @student.stay_ids.any? %>
    <div class="bg-success p-5 text-center">
      <h2 class="pb-3">Stay Details:</h2>
        <!-- Assuming you have access to stay_id as described earlier -->
        <% stay_id = @student.stay_ids.first %>

        <!-- Find the Stay record -->
        <% stay = Stay.find(stay_id) %>

        <!-- Access Room and Host records from the Stay -->
        <% room = stay.room %>
        <% host = stay.host %>

        <!-- Display Room and Host details -->
        <p><strong>Host:</strong> <%= link_to "#{host.first_name} #{host.last_name}", host_path(host) %></p>
        <p><strong>Room:</strong> <%= link_to room.title, room_path(room) %></p>
      <% else %>
    <div class="bg-danger p-5 text-center">
      <h2 class="pb-3">Stay Details:</h2>
        <!-- Handle the case where the student has no stay -->
        <p>This student doesn't have a stay confirmed yet!</p>
      <% end %>
    </div>
  </div>
</div>
