<h1 class="text-center py-5">All hosts</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email Address</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Details</th>
      </tr>
    </thead>
    <tbody>
      <% @hosts.each do |host| %>
        <tr>
          <th scope="row"><%=host.id %></th>
          <td><%=host.first_name %></td>
          <td><%=host.last_name %></td>
          <td><%=host.email %></td>
          <td><%=host.home_phone_number %></td>
          <td><%= link_to "View more", host_path(@host) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
