<footer class="w-100 py-4 flex-shrink-0">
  <div class="container px-4">
    <div class="row">
      <div class="col text-center">
        <%= link_to root_path do %>
          <%= image_tag "brand-icon-white.png", class: "footer-logo" %>
        <% end %>
        <p class="text-white pb-3"><span class="highlight">Live Aloha. <strong>Experience Ohana.</strong></span></p>
        <div class="row justify-content-center pb-3 small">
          <div class="col-sm-6 col-lg-6">
            <div class="row justify-content-between">
              <div class="col-12 col-md-3">
                <%= link_to "Home", root_path %>
              </div>
              <div class="col-12 col-md-3">
                <% if user_signed_in? %>
                  <%= link_to "Add Student", new_student_path %>
                <% else %>
                  <%= link_to "Student Form", student_form_path %>
                <% end %>
              </div>
              <div class="col-12 col-md-3">
                <% if user_signed_in? %>
                  <%= link_to "Add Host", new_host_path %>
                <% else %>
                  <%= link_to "Host Form", host_form_path %>
                <% end %>
              </div>
              <div class="col-12 col-md-3">
                <% if user_signed_in? %>
                  <%= link_to "Create Stay", new_stay_path %>
                <% else %>
                  <%= link_to "Contact", root_path %>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <%# <p class="small text-muted"><a href="#">Home</a> · <a href="#">About</a> · <a href="#">Get started</a> · <a href="#">FAQ</a></p> %>
        <p class="small text-white pt-3">
          Made with <i class="fas fa-heart"></i> in Honolulu, Hawaii
        </p>
      </div>
    </div>
  </div>
</footer>
