<div class="container py-5">
  <h1 class="text-center">All rooms</h1>
  <p class="pb-5 text-center">To create a new room, <%= link_to "select your host", hosts_path %> or <%= link_to "create a new host", new_host_path %> first.</p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Host</th>
        <th scope="col">Title</th>
        <th scope="col">Private room</th>
        <th scope="col">Smoking allowed</th>
        <th scope="col">Children in house</th>
        <th scope="col">Pets in house</th>
      </tr>
    </thead>
    <tbody>
      <% @rooms.each do |room| %>
        <tr>
          <th scope="row"><%= room.id %></th>
          <td><%=room.host.first_name %> <%=room.host.last_name %></td>
          <td><%=room.title %></td>
          <td><% if room.private_room == true %>
              <i class="fa-solid fa-circle-check" style="color: #1EDD88;"></i>
              <% else %>
              <i class="fa-solid fa-circle-xmark" style="color: #FD1015;"></i>
            <% end %></td>
          <td><% if room.host.smoking_permitted == true %>
              <i class="fa-solid fa-circle-check" style="color: #1EDD88;"></i>
              <% else %>
              <i class="fa-solid fa-circle-xmark" style="color: #FD1015;"></i>
            <% end %></td>
          <td><% if room.host.children == true %>
                <i class="fa-solid fa-circle-check" style="color: #1EDD88;"></i>
              <% else %>
                <i class="fa-solid fa-circle-xmark" style="color: #FD1015;"></i>
              <% end %></td>
            <td><% if room.host.pets == true %>
                <i class="fa-solid fa-circle-check" style="color: #1EDD88;"></i>
              <% else %>
                <i class="fa-solid fa-circle-xmark" style="color: #FD1015;"></i>
              <% end %></td>
          <td><%= link_to "View more", room_path(room) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
