<div class="container py-5">
  <h1 class="text-center pb-5">All rooms</h1>
    <% @rooms.each do |room| %>
      <%=room.host.first_name %> <%=room.host.last_name %>
      <%=room.title%>
      <%=room.description %>
      <%=room.created_at %>
      <%= link_to "View more", room_path(room) %>
    <% end %>
</div>
